$playingFieldColor:linear-gradient(to top, #c72e2e, #4d63e0);
$fieldBorderColor: black;

canvas {
	width: 95%;
	box-sizing: border-box;
	border: 0.25vw solid $fieldBorderColor;
	border-radius: 20px;
	margin: 2.5%;
	background: $playingFieldColor;
}



